:root {
  --text: #030816;
  --background: #f8f8f8;
  --primary: #ffffff;
  --accent: #242d32;
  --shadow: #e3e8ef;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

html {
  font-family: "Urbanist", sans-serif;
  background-color: var(--background);
}

nav {
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--background);
  filter: drop-shadow(0px 2px 2px var(--shadow));
  z-index: 99999;

  .logo {
    margin-left: 96px;

    span {
      color: red;
    }
  }
}

header {
  background: linear-gradient(0deg, rgba(36,45,50,1) 0%, rgba(36,45,50,0.2) 35%), url("/assets/beachAerialView(1).jpg");
  min-height: 100%;
  background-position: center;
  background-size: cover;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 90px 40px 0px 40px;
  padding: 0px;
  border-radius: 24px;

  div {
    width: 500px;

    h1 {
      text-align: center;
      margin-bottom: 10px;
      color: var(--primary);
    }

    .custom-select {
      position: relative;
      width: 100%;
      font-size: 1.15rem;
      margin-right: 96px;
      justify-content: center;
    }

    .select-button {
      width: 100%;
      font-family: "Urbanist", sans-serif;
      font-size: 1rem;
      background-color: var(--background);
      padding: 0.675em 1em;
      border: 1px solid var(--shadow);
      border-radius: 16px;
      cursor: pointer;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .selected-value {
      text-align: left;
    }

    .select-dropdown {
      position: absolute;
      list-style: none;
      width: 100%;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      border: 1px solid #caced1;
      border-radius: 4px;
      padding: 10px;
      margin-top: 10px;
      max-height: 200px;
      overflow-y: auto;
      transition: 0.5s ease;

      transform: scaleY(0);
      opacity: 0;
      visibility: hidden;
    }

    .select-dropdown:focus-within {
      box-shadow: 0 10px 25px rgba(94, 108, 233, 0.6);
    }

    .select-dropdown li {
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    .select-dropdown li label a {
      width: 100%;
      padding: 8px 10px;
      cursor: pointer;
      display: flex;
      gap: 1rem;
      align-items: center;
      text-decoration: none;
    }

    .select-dropdown li label a img {
      width: 32px;
    }

    .select-dropdown::-webkit-scrollbar {
      width: 7px;
    }
    .select-dropdown::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 25px;
    }

    .select-dropdown::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 25px;
    }

    .select-dropdown li:hover,
    .select-dropdown input:checked ~ label {
      background-color: #f2f2f2;
    }

    .select-dropdown input:focus ~ label {
      background-color: #dfdfdf;
    }

    .select-dropdown input[type="radio"] {
      position: absolute;
      left: 0;
      opacity: 0;
    }

    /* interactivity */

    .custom-select.active .select-dropdown {
      opacity: 1;
      visibility: visible;
      transform: scaleY(1);
    }
  }
}

main {
  margin: auto 92px;

  .title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary);
  }

  h4,
  h2 {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .cardholder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;

    .card {
      margin: 8px;
    }

    a {
      text-decoration: none;
      color: black;
      border-radius: 16px;
      background-color: var(--primary);
      border: var(--shadow) solid 1px;
      filter: drop-shadow(6px 12px 4px #e3e8ef);
      width: 24%;
      box-sizing: border-box;
    }

    a:hover {
      border: var(--accent) solid 1px;
    }

    .card {
      img {
        width: 100%;
        height: 220px;
        border-radius: 12px;
        object-fit: cover;
      }

      .cardtext {
        margin: 2px 0px 24px 0px;

        h4,
        p {
          margin: 2px 0px;
          align-items: center;
          display: flex;
        }

        p {
          font-size: small;
          font-style: italic;
        }

        .cardtitle {
          display: flex;
          justify-content: space-between;

          .rating {
            align-items: center;
            padding: 4px;
            border-radius: 8px;
            display: inline-flex;
            font-size: medium;

            box-icon {
              height: 16px;
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}

footer {
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--accent);
  margin: 30px 40px 0px 40px;
  border-radius: 24px 24px 0px 0px;

  .explore {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 100px;
    }

    p, strong {
      color: var(--primary);
    }

    .social {
      a {
        margin-right: 10px;
      }
    }
  }
  
  .logocontainer {
    display: flex;
    align-items: center;
    gap: 24px;

    .hmc,
    .pt {
      padding: 5px;
      background-color: var(--primary);
      border-radius: 12px;
      
      img {
        height: 60px;
      }
    }
  }

  .link {
    display: flex;
    flex-direction: column;
    gap: 5px;

    h4 {
      color: var(--primary);
      font-size: large;
    }
    
    a {
      color: var(--primary);
      font-size: small;
    }
  }
}

/* mobile media query */
@media screen and (max-width: 767px) {
  nav {
    align-items: center;
    justify-content: center;
    z-index: 9999999;

    .logo {
      margin-left: 0px;
    }
  }

  header {
    height: 400px;

    div {
      width: 75%;
    }
  }

  main {
    margin: 0px 40px;

    .cardholder {
      a {
        width: 100%;

        .card {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  footer {
    padding: 50px 20px;
    gap: 50px;
    
    .logocontainer {
      display: none;
    }
  }
}

/* tablet media query */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  main {
    margin: 0px 40px;

    .cardholder {
      a {
        width: 49%;

        .card {
          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
