:root {
  --text: #000202;
  --background: #f3efe0;
  --primary: #ffffff;
  --accent: #b9d1f1;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: var(--text);
}

html {
  font-family: "Urbanist", sans-serif;
  background-color: var(--background);
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
}

nav .logo {
  margin-left: 96px;

  span {
    color: red;
  }
}

header {
  background-image: url('/assets/beachAerialView(1).jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 40px 0px 40px;
  padding: 0px;
  border-radius: 24px;

  div{
    h1{
      text-align: center;
      margin-bottom: 10px;
    }

    select {
      width: 500px;
      height: 50px;
      font-size: larger;
      text-align: center;
      border-radius: 16px;
    }
  }
}

main {
  margin: auto 92px;

  .title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--primary);
  }

  h4, h2 {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .cardholder {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px;

    .card {
      margin: 8px;
    }

    a {
      text-decoration: none;
      color: black;
      border-radius: 16px;
      background-color: var(--primary);
    }

    a:hover {
      background-color: var(--accent);
      color: white;
    }

    .card {
      img {
        width: 100%/3;
        height: 220px;
        border-radius: 12px;
      }

      .cardtext {
        margin: 2px 0px 24px 0px;

        h4, p {
          margin: 2px 0px;
          align-items: center;
          display: flex;
        }
        
        p {
          font-size: small;
          font-style: italic;
        }

        .cardtitle {
          display: flex;
          justify-content: space-between;

          .rating {
            align-items: center;
            padding: 4px;
            border-radius: 8px;
            display: inline-flex;
            font-size: medium;
          }
        }
      }
    }
  }
}

footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  margin: 30px 40px 0px 40px;
  border-radius: 24px 24px 0px 0px;
}

footer div {
  margin: 20px;
  background-color: aqua;
  border-radius: 100000px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}